<p class="h3 text-primary"><strong>13</strong> - Lifecycle Hooks</p>
<p>
  In all components there is <span class="bg-info">ngOnInit</span>, and it is a
  lifecycle hook. And Angular supports a few lifecycle hooks.
  <br />
  Once a new component is instatiated Angular goes through a few phases/hooks.
  <br />
</p>
<ol>
  <li>
    ngOnChanges - called at the very start, and also called whenever a bound
    input property changes(properties decorated with @Input)
  </li>
  <li>
    ngOnInit - Called when component is initialized. Does not mean it has been
    displayed or added to the DOM. But basic initialization has taken place and
    properties can be accessed. ngOnInit will run after the constructor
  </li>
  <li>ngDoCheck - Runs a lot. Called during EVERY change detection run</li>
  <li>
    ngAfterConentInit - Called after ng-Content has been projected into view
  </li>
  <li>
    ngAfterContentCheck - Called every time the projected contect has been
    checked
  </li>
  <li>
    ngAfterViewInit - Called after the component's view (and child views) has
    been initialized
  </li>
  <li>
    ngAfterViewChecked - Called every time the view (and child views) have been
    checked
  </li>
  <li>
    ngOnDestroy - Called RIGHT BEFORE the component is about to be destroyed
  </li>
</ol>
<p>
  Below, we take the following html from a child component that we would like to
  place in between the calling of the component.
</p>
<img
  class="center-block img-responsive img-thumbnail"
  alt="image alt"
  src="../../assets/img/12A1.JPG"
/>
<br />
