<p>
  The object configuartion is made in the child TS file (child-component), and
  so is the structure of the output, however, the data that feeds the element
  comes from the parent component(custom-databinding). Thus communication of
  elements between parent and child components.
</p>

<p>
  Parent element passed through child object configuration element - name :
  <span class="bg-success text-success">{{ childComponentElement.name }}</span>
</p>
<p>
  Parent element passed through child object configuration element - content :
  <span class="bg-success text-success">{{
    childComponentElement.content
  }}</span>
</p>
