<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>
        This is the
        <span class="angular-red font-weight-bold">Angular</span> Dictionary
      </h1>
      <hr />

      <app-string-interpolation></app-string-interpolation>
      <app-property-binding></app-property-binding>
      <app-event-binding></app-event-binding>
      <app-two-way-binding></app-two-way-binding>
      <app-databinding-practice></app-databinding-practice>
      <app-directives></app-directives>
      <app-directives-practice></app-directives-practice>
      <app-custom-databinding></app-custom-databinding>
      <app-view-encapsulation></app-view-encapsulation>
      <app-local-reference></app-local-reference>
      <app-view-child></app-view-child>
      <app-ng-content></app-ng-content>
      <app-lifecycle-hooks></app-lifecycle-hooks>
      <app-content-child></app-content-child>
    </div>
  </div>
</div>
