<p class="h3 text-primary"><strong>01</strong> - String Interpolation</p>
<p>
  The
  <span class="si-1 big-text">{{ "name of this" }}</span>
  section is
  <span class="si-2 h4">&#123; &#123; {{ nameOfSection }} &#125; &#125;</span>
</p>
<p>
  You can enter text within brackets, reference a variable within the brackets,
  or <span class="h4 text-danger">{{ onTastyFunction() }}</span
  >.
</p>

<pre>
    &#123; &#123; "Enter string, varbiable or method() between quotes and double curly brackets" &#125; &#125;
  </pre
>
<hr />
